@charset "utf-8";
/* CSS Document */

#welcome {
	color: red;
	font-weight: bold;
	font-size: 20px;
}

.content {
	border: 1px solid rgb(187,187,187);
	background: url(../img/background2.png);
	margin: auto;
	width: 935px;
}

.user_info {
	float: left;
	border: 1px solid rgb(187,187,187);
	background: url(../img/background3.png);
	margin: 5px 10px 5px 5px;
	width: 320px;
}

.query_result {
	float: right;
	border: 1px solid rgb(187,187,187);
	background: url(../img/background3.png);
	margin: 5px 5px 5px 10px;
	width: 580px;
}

.info {
	border: 1px solid rgb(187,187,187);
	border-radius: 10px;
	margin: 7px;
	width: 300px;
	height: 280px;
}

.functions {
	margin: 5px;
	width: 310px;
	height: auto;
}

.banner {
	border: 1px solid rgb(187,187,187);
	margin: 15px;
	width: 550px;
	height: 200px;
	position: relative;
}

.banner_btn {
	width: 150px;
	height: 18px;
	position: absolute;
	bottom: 5px;
	right: 5px;
}

.banner_btn ul li {
	background: #000000;
	color: #ffffff;
	list-style-type: none;
	width: 18px;
	height: 18px;
	float: left;
	border-radius: 9px;
	text-align: center;
	line-height: 18px;
	cursor: pointer;
	margin-left: 5px;
}

.banner_btn ul li.one {
	background: #ff9966;
}

.select {
	border: 3px ridge #00a7de;
	border-radius: 5px;
	margin: 15px;
	width: 550px;
	height: 100px;
}

.query {
	margin: 5px;
	width: 570px;
	height: auto;
}

.flight {
	font-family: '华文细黑';
	text-align: center;
	margin: 5px;
	width: 560px;
	border: 1px solid #aaaaaa;
	border-spacing: 0;
	font-size: 12px;
}

.flight th {
	background: url(../img/table_tr_right.png) right center no-repeat;
	height: 52px;
	color: #ffffff;
}

.th_list {
	background: url(../img/table_tr.png) top repeat-x;
}

.flight td {
	height: 36px;
	background: #eef1f8;
	border-right: 1px solid #b0cedd;
	border-top: 1px solid #b0cedd;
}

.query_input {
	font-family: '华文细黑';
}

.query_input ul li{
	font-size: 15px;
	height: 30px;
	line-height: 30px;
	margin-left: -40px;
	float: left;
}

.querytxt {
	float: left;
	height: 20px;
}

.query_lable {
	display: block;
	width: 80px;
	padding-right: 2px;
	text-align: right;
	float: left;
}

.query_submit {
	border-left: 2px ridge#00a7de;
	float: right;
	margin-top: -50px;
	height: 85px;
	width: 120px;
}

.query_btn {
	margin-top: 25px;
	margin-left: 20px;
	height: 30px;
	width: 80px;
	background: #FF7600;
	color: #ffffff;
	border: 1px solid #FF5F00;
	border-radius: 2px;
	text-align: center;
	cursor: pointer;
}







